spring:
  application:
    name: ProductService
  config:
    import: configserver:http://localhost:8082
  datasource:
    url: jdbc:mysql://localhost:3306/petshop
    username: root
    password: root
    driverClassName: com.mysql.cj.jdbc.Driver
  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update

server:
  port: 8083